@model IEnumerable <WebApplication1.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCuaTui.cshtml";
}
<style>
    #index{
        width: 200px;
        height: 250px;
        border: 1px solid #0094ff;
        border-radius: 14px;
        float: left;
        margin: 10px;
         padding-top: 10px;
        padding-left: 10px;
    }
</style>
<div>
    @Html.ActionLink("Thêm sản phẩm mới","Create")
</div>

    @foreach (var h in Model)
    {
        <div id="index">
            <div>
              <img src="../Images/@h.hinhAnh" width="150" height="100"/>
                
            </div>
            <div>
                Tên Sản Phẩm:  @h.tenSP
            </div>
            <div>
                <a href="@Url.Action("ThemSP","Mua", new {ma = @h.maSP, @strUrl = Request.Url.ToString() })">
                <input id="hang" type="button" value="Mua" class="btn btn-primary" /></a>
            </div>
            <div>
                <a href="@Url.Action("Details","Home",new {ma = @h.maSP })">Xem Chi tiết</a>
            </div>
        </div>
    }
        

